*{
    margin: 0;
    padding: 0;
}


header{
    background-color: #816969;
    color: #ffffff;
    text-align: center;
}

#primeiraimagem{
    width: 250px;
}

.Div1{
    background-color: #F5c2a9;
}


h2{
  text-align: center;
}


.Div2{
    background-color: #ffffff;
    padding: 30px;
}


h3{
    text-align: center;
}

.Div3{
    background-color: #d9d9d9;
}


footer{
    background-color: #EAEAEA;
}


button{
    border-radius: 16px;
}




